
<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        const windowData = window.autoFitConfig || null;
        const enabled = window.autoFitEnabled || false;
        setTimeout(()=> {
            console.clear();
            if(enabled) {
                console.log("AutoFit Search is enabled. Configuration:");

                if(windowData !== null) {
                    console.log("Configuration data:", windowData);
                }else {
                    console.log("No configuration data found.");
                }
            } else {
                console.log("AutoFit Search is disabled.");
            }
        }, 1500);
    });
</script>

<div id="autofit-search-widget_{{ block.id }}">
    <h2>Hello, World!</h2>
</div>

{% schema %}
{
    "name": "Search widget",
    "target": "section",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text field"
        }
    ]
}
{% endschema %}